<div class="row">
  <div class="col-sm-8">
		<% if @posts.any? %>
			<% @posts.each do |post| %>

				<div class="col-md-2">
				<%= link_to('Like', post_like_path(post), method: :post, class: "glyphicon glyphicon-chevron-up") %><br>
				<%= "Points: #{post.total_points}" %>
				<%= link_to('Dislike', post_like_path(post), method: :delete, class: "glyphicon glyphicon-chevron-down") %></div>

				<h4><%= link_to post.title, post.url %></h4> <br>
				<span class="share"><%= social_share_button_tag(post.title, :url => request.original_url) %> </span>
				
				<% if user_signed_in? && !request.path.match(/\A\/user\/\d{1,}\/posts/).nil? %>
				<%= link_to('Edit', edit_user_post_path(current_user, post), class: "glyphicon glyphicon-pencil") %>
				<%= link_to('Delete', user_post_path(current_user, post), method: :delete, class: "glyphicon glyphicon-trash")%>
				<% end %>
				<br>
				<%= "Posted #{time_ago_in_words(post.created_at)} ago - by #{post.user.username}"%><br>

				<% if post.categories.all.any? %>
					categories: 
					<% post.categories.all.each do |category| %>
						<%= "#{category.name} "%>
					<% end %><br>
				<% end %>

					<ul class='post_comments'>
						<%= render partial: 'posts/comment_form', locals: { post: post } %>
						<% post.comments.reverse.each do |comment| %>
							<li class="comment"> <%= "#{comment.thoughts}" %>
								<%= "- Posted #{time_ago_in_words(comment.created_at)} ago - by #{comment.user.username}"%>
								<%= "Points: #{comment.total_points}" %>
								<%= link_to('Like', comment_like_comment_path(comment), method: :post) %>
								<%= link_to('Dislike', comment_like_comment_path(comment), method: :delete) %>
								</li>
								<hr>
						<% end %>
					</ul><hr><br>
			<% end %><br>
		<% else %>
			<p>No posts have been added</p>
		<% end %>
	</div>

	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	  <%= link_to new_post_path, class: 'btn btn-top' do %>
	    [ <span class="glyphicon glyphicon-pencil"></span> ]
	    <span>New link post</span>
	  <% end %>
		<div class="sidebar-module sidebar-module-inset">

		<h3>Categories: </h3><br>
		/sub-reddits<% if @categories.any? %>
			<% @categories.each do |category| %>
				/ <%= link_to("#{category.name}", post_category_path("#{category.name}"), class: 'category_link') %>
			<% end %><br>
		<% end %>
		</div>
	</div>
</div>