<h1>Reddit</h1>
<% if @posts.any? %>
	<% @posts.each do |post| %>
		<%= link_to post.title, post.url %>
		<%= "Posted by #{post.user.email}"%><br>
		<% if post.categories.all.any? %>
			categories: 
			<% post.categories.all.each do |category| %>
				<%= "#{category.name} "%>
			<% end %>
		<% end %>
			<% if user_signed_in? && request.path != '/posts' %>
			<%= link_to('Edit', edit_user_post_path(current_user, post)) %>
			<% end %>
	<% end %><br>
<% else %>
	<p>No posts have been added</p>
<% end %>
<%= link_to 'New post', new_post_path %>